@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    font-weight: 350;
}

li {
    list-style: none;
}

a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #d13639;
    transition: 0.5s all;

}

header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0.3, 0.6));
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;

}

.navbar .links {
    display: flex;
    justify-content: center;

}

.navbar .logo {}

.links li {
    margin: 0 20px;
}

.navbar .logo a {
    font-size: 1.5rem;
    color: #d13639;
    font-weight: bold;
    display: inline;
}


.toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;



}

.baniere {
    width: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(187, 24, 24, 0.6));*/
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;

}




.presentation {
    width: 60%;
    text-align: start;
    align-items: center;
    color: #fff;
    margin-top: 20%;
    position: relative;
    bottom: 100px;
    font-family: 'poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.ma-photo {
    width: 40%;
}

.presentation h2 {
    font-weight: 700;
    font-size: 50px;
}


.presentation p {
    font-weight: 100;
    font-size: 50px;
}



.presentation a {

    color: #d13639;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 10px;
    position: relative;
    top: 50px;

}


/*dropdown*/
.dropdown {
    position: absolute;
    background: #ffff;
    width: 92%;
    color: #1111;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

.dropdown.open {
    height: 160px;

}


.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
}

.dropdown li a {
    display: block;
    color: #333;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: #111;
    text-transform: uppercase;

}

.dropdown li a:hover {
    color: #d13639;
    transition: 0.5s all;
}


/*responsive navbar*/
@media (max-width:992px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }


    .toggle-btn {
        display: flex;
    }

    .reseaux-sociaux {
        display: none;
    }

    .presentation {
        padding-top: 100px;
    }

    .dropdown {
        width: 92.5%;
    }

}

@media (max-width:768px) {
    .dropdown {
        width: 91%;
    }

    .presentation {
        margin-top: 160px;
    }
}

@media (max-width:576px) {
    .dropdown {
        width: 88%;
    }

    .presentation {
        margin-top: 160px;
    }
}

@media (max-width:280px) {
    .dropdown {
        width: 78%;
    }

    .presentation {
        margin-top: 160px;
    }
}


/*responsive baniere*/

@media (max-width:1162px) {
    .presentation h2 {
        font-size: 40px;
    }

    .presentation p {
        font-size: 35px;
    }

}

@media (max-width:1195px) {


    .presentation p {
        font-size: 33px;
    }

}


@media (max-width:1125px) {
    .presentation h2 {
        font-size: 40px;
    }

    .presentation p {
        font-size: 30px;
    }

}

@media (max-width:992px) {
    .baniere {
        flex-direction: column;
    }

    .presentation h2 {
        font-size: 33px;
    }

    .presentation {
        width: 100%;
    }

    .ma-photo {
        width: 100%;
    }
}




@media (max-width:842px) {


    .presentation {
        text-align: start;
    }
}

.expertise {
    width: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(187, 24, 24, 0.6));*/
    background: #fff;
    padding: 0 100px;
}


.competences {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.competences .skills {
    width: 50%;
    position: relative;
    bottom: 10px;

}

.competences .photo-competences {
    width: 45%;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    margin: 12px 0;
}

.skill-bar {
    height: 12px;
    background: #282828;
    border-radius: 3px;
}

.skill-per {
    height: 12px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 2px 1px;

    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/*responsive section competences*/

@media (max-width:992px) {
    .competences {
        flex-direction: column;
        padding: 100px 0;
    }

    .competences .photo-competences {
        width: 100%;

    }

    .competences .skills {
        width: 100%;
        padding-top: 50px;
    }


}


.projets {
    width: 100%;
    /*background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(187, 24, 24, 0.6));*/
    background: #fff;
    padding: 0 100px;
}